.#{$PF}-badge {
  position: relative;
  display: inline-block;
  &_content {
    position: absolute;
    top: -9px;
    right: -10px;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    padding: 0 6px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 12px;
    text-align: center;
    color: white;
    white-space: nowrap;
    background-color: $danger;
  }
  &_dot {
    position: absolute;
    top: -4px;
    right: -4px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: $danger;
  }
}
