.#{$PF}-btn {
  display: inline-block;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  overflow: visible;
  cursor: pointer;
  font-weight: 500;
  transition: $--all-transition;
  border-width: 1px;
  border-style: solid;
  padding: 0 12px;
  &+& {
    margin-left: 8px;
  }
  @for $i from 1 through length($specialName) {
    $key: nth($specialName, $i);
    &.#{$PF}-light-bg-#{$key}[disabled]:hover {
      background-color: nth($lightSpecial, $i);
      color: nth($special, $i);
    }
    &.#{$PF}-light-bg-#{$key}:hover {
      background-color: nth($special, $i);
      color: $cf;
    }
  }
  .#{$PF}-icon + span {
    margin-left: 3px;
  }
}
.#{$PF}-btn[disabled],
.#{$PF}-btn[disabled]:hover {
  opacity: 0.6;
  cursor: not-allowed;
}
.#{$PF}-btn-group {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  line-height: 1;
  border-collapse: separate;
  transition: $--all-transition;
  &:after,
  &:before {
    display: table;
    content: "";
  }

  .#{$PF}-btn {
    float: left;
    position: relative;
    border-radius: 0px !important;
  
  }
  .#{$PF}-btn+.#{$PF}-btn {
    margin: 0;
  }
  .#{$PF}-btn:first-child {
    border-radius: 4px 0 0 4px !important;
  }
  .#{$PF}-btn:last-child {
    border-radius: 0 4px 4px 0 !important;
  }
  .#{$PF}-btn:not(:last-child) {
    margin-right: -1px;
  }
  .#{$PF}-btn[class*="#{$PF}-border-"] {
    border-left-color: hsla(0, 0%, 100%, 0.5);
    border-right-color: hsla(0, 0%, 100%, 0.5);
  }
  .#{$PF}-btn.#{$PF}-border-default {
    border-left-color: $default;
    border-right-color: $default;
  }
  .#{$PF}-btn[class*="#{$PF}-border-"]:first-child {
    border-left-color: transparent;
  }
  .#{$PF}-btn.#{$PF}-border-default:first-child {
    border-left-color: $default;
  }
  .#{$PF}-btn[class*="#{$PF}-border-"]:last-child {
    border-right-color: transparent;
  }
  .#{$PF}-btn.#{$PF}-border-default:last-child {
    border-right-color: $default;
  }
}
