.#{$PF}-bg-default,
.#{$PF}-light-bg-default {
  border-color: $default;
  background-color: $cf;
  color: $c4;
  &:hover {
    border-color: $border-primary;
    color: $primary;
    background-color: $light-primary;
  }
  &[disabled] {
    border-color: $default;
    background-color: $cf;
    color: $c4;
  }
}
.#{$PF}-light-border-default {
  border-color: $default;
}

/* Colors Style*/
//generalColorLoop
@for $i from 1 through length($general) {
  $key: nth($generalName, $i);
  .#{$PF}-#{$key} {
    color: nth($general, $i);
  }
}
//specialColorLoop
@for $i from 1 through length($special) {
  $key: nth($specialName, $i);
  .#{$PF}-#{$key} {
    color: nth($special, $i);
  }
}

/* Backgrounds Style*/
//generalBgLoop
@for $i from 1 through length($general) {
  $key: nth($generalName, $i);
  .#{$PF}-bg-#{$key} {
    background-color: nth($general, $i);
  }
}
//specialBgLoop
@for $i from 1 through length($special) {
  $key: nth($specialName, $i);
  .#{$PF}-bg-#{$key},
  .#{$PF}-bg-#{$key}[disabled]:hover {
    background-color: nth($special, $i);
  }
  .#{$PF}-bg-#{$key}:hover {
    background-color: lighten(nth($special, $i), 10%);
    border-color: lighten(nth($special, $i), 10%);
  }
}
//speciallightBgLoop
@for $i from 1 through length($lightSpecial) {
  $key: nth($specialName, $i);
  .#{$PF}-light-bg-#{$key} {
    background-color: nth($lightSpecial, $i);
  }
}

/* Border Style 边框颜色*/
//generalBorderLoop
@for $i from 1 through length($general) {
  $key: nth($generalName, $i);
  .#{$PF}-border-#{$key} {
    border-color: nth($general, $i);
  }
}
//specialBorderLoop
@for $i from 1 through length($special) {
  $key: nth($specialName, $i);
  .#{$PF}-border-#{$key} {
    border-color: nth($special, $i);
  }
}
//specialLightBorderLoop
@for $i from 1 through length($lightSpecial) {
  $key: nth($specialName, $i);
  .#{$PF}-light-border-#{$key} {
    border-color: nth($borderLightSpecial, $i);
  }
}
