@include b(dialog){
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;
  display: flex;
  justify-content:center;
  align-items:center;
  @include e(mask){
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
  }
  @include e(box){
    position: relative;
    width: 50%;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px $c9;
    box-sizing: border-box;
  }
  @include e(header){
    position: relative;
    padding: 20px 20px 10px;
    @include when(drag){
      cursor: move;
    }
    &_title {
      font-size: 18px;
      color: $c3;
      [class^="lk-icon-"], 
      [class*=" lk-icon-"]{
        font-size: 24px;
        @include when(success){
          color:$success
        }
        @include when(warning){
          color:$warning
        }
        @include when(info){
          color:$info
        }
        @include when(danger){
          color:$danger
        }
      }
    }
    &_icon{
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 18px;
      cursor: pointer;
    }
  }
  @include e(main){
    padding:30px 20px;
  }
  @include e(footer){
    padding: 10px 20px 20px;
  }
}