@include b(form){
  $name:&;
  $--form-line-height:40px;
  @include m(item){
    margin-bottom: 22px;
    font-size: 14px;
    &_label {
      float: left;
      line-height:$--form-line-height;
      padding: 0 12px 0 0;
      text-align: right;
      vertical-align: middle;
    }
    
    &_content {
      position: relative;
      line-height:$--form-line-height;
    }
    @include when(required){
      #{$name + "-item_label:before"} {
        content: "*";
        font-size: 12px;
        color: $danger;
        margin-right: 4px;
      }
    }
  }
}