$SW: 8px;
.#{$PF}-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  .#{$PF}-scroll-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      width: 0px;
      display: none;
    }
    &.is-vertical {
      overflow-y: scroll;
    }
    &.is-horizontal {
      overflow-x: scroll;
    }
  }
  .#{$PF}-scroll-bar {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    top: 0;
    z-index: 2;
    cursor: default;
    opacity: 0;
    transition: $--all-transition;
  }
  &:hover > .#{$PF}-scroll-bar,
  &:active > .#{$PF}-scroll-bar {
    opacity: 1;
  }
}
.scroll-grabbed {
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
