$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
  opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;

.#{$PF}-zoom-in-top-enter-active,
.#{$PF}-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}

.#{$PF}-zoom-in-top-enter,
.#{$PF}-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}
