$--md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
  opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
@keyframes moveUpIn {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes moveUpOut {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  to {
    opacity: 0;
    transform-origin: -50% 0;
    transform: translateX(-50%) translateY(-100%);
  }
}

.#{$PF}-zoom-in-top-enter-active,
.#{$PF}-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $--md-fade-transition;
  transform-origin: center top;
}

.#{$PF}-zoom-in-top-enter,
.#{$PF}-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.#{$PF}-fade-in-enter-active,
.#{$PF}-fade-in-leave-active {
  opacity: 1;
  transition: $--md-fade-transition;
}
.#{$PF}-zoom-in-top-enter,
.#{$PF}-zoom-in-top-leave {
  opacity: 0;
}

.#{$PF}-message-fade-enter-active {
  animation: moveUpIn 0.3s ease-in-out both;
}
.#{$PF}-message-fade-leave-active {
  animation: moveUpOut 0.3s ease-in-out both;
}
