/* Prefix */
$PF: lk;

/* Color */
$c0: #000000;
$c1: #111111;
$c2: #222222;
$c3: #333333;
$c4: #444444;
$c5: #555555;
$c6: #666666;
$c7: #777777;
$c8: #888888;
$c9: #999999;
$ca: #aaaaaa;
$cb: #bbbbbb;
$cc: #cccccc;
$cd: #dddddd;
$ce: #eeeeee;
$cf: #ffffff;

$default: #dcdfe6;
$primary: #42b983;
$success: #67c23a;
$info: #2db7f5;
$warning: #ff9900;
$danger: #ed4014;
$dark: #909399;
$white: #ffffff;

$light-default: #fefefe;
$light-primary: #eaf7f2;
$light-success: #f0f9eb;
$light-info: #f0faff;
$light-warning: #fdf6ec;
$light-danger: #fef0f0;
$light-dark: #f4f4f5;
$light-white: #ffffff;

$border-default: #c6e2ff;
$border-primary: #aef3d8;
$border-success: #c2e7b0;
$border-info: #b3d8ff;
$border-warning: #f5dab1;
$border-danger: #fbc4c4;
$border-dark: #d3d4d6;
$border-white: #ffffff;

$background-default: #f6f6f6;

$general: $c0, $c1, $c2, $c3, $c4, $c5, $c6, $c7, $c8, $c9, $ca, $cb, $cc, $cd,
  $ce, $cf;
$special: $primary, $success, $info, $warning, $danger, $dark, $white;
$lightSpecial: $light-primary, $light-success, $light-info, $light-warning,
  $light-danger, $light-dark, $light-white;
$borderLightSpecial: $border-primary, $border-success, $border-info,
  $border-warning, $border-danger, $border-dark, $border-white;

$generalName: c0, c1, c2, c3, c4, c5, c6, c7, c8, c9, ca, cb, cc, cd, ce, cf;
$specialName: primary, success, info, warning, danger, dark, white;

/* Break-point
--------------------------*/
$gridListLength: 24;
$--breakpointsList: xs, sm, md, lg, xl;
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;
$--breakpoints: (
  "xs": (
    max-width: $--sm - 1,
  ),
  "sm": (
    min-width: $--sm,
  ),
  "md": (
    min-width: $--md,
  ),
  "lg": (
    min-width: $--lg,
  ),
  "xl": (
    min-width: $--xl,
  ),
);

/* base
---------------------------*/
$--box-shadow-base: 0 0 8px $ce;
$--border-radius-base: 6px;
/* Transition
-------------------------- */
$--all-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--border-transition-base: border-color 0.2s
  cubic-bezier(0.645, 0.045, 0.355, 1) !default;
$--color-transition-base: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !default;

/* input
-------------------------*/
$--input-font-size: 14px;
$--input-mini-font-size: 12px;
$--input-height: 40px;
$--input-small-height: 36px;
$--input-mini-height: 32px;

/* slider
-------------------------*/
$--slider-background: $default;
$--slider-background-disabled: $cb;

/* tag
-------------------------*/
$--tag-height: 32px;
$--tag-font-size: 12px;
$--tag-middle-height: 28px;
$--tag-small-height: 24px;

/** message
-----------------------------------*/
$--message-min-width: 380px !default;
$--message-shadow: $--box-shadow-base;
$--message-padding: 15px 15px 15px 20px !default;
///background
$--message-info-background-color: $light-info !default;
$--message-success-background-color: $light-success !default;
$--message-warning-background-color: $light-warning !default;
$--message-danger-background-color: $light-danger !default;
///border
$--message-info-border-color: $border-info;
$--message-success-border-color: $border-success;
$--message-warning-border-color: $border-warning;
$--message-danger-border-color: $border-danger;
///color
$--message-info-font-color: $info;
$--message-success-font-color: $success;
$--message-warning-font-color: $warning;
$--message-danger-font-color: $danger;
